<!DOCTYPE html>
<html>
<head>
    <title>后台管理系统</title>

    <link rel='stylesheet' href='/stylesheets/common.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
</head>

<frameset cols="240px,*" border="0">
    <frame src="/left" name="left">
    <frame src="/right" name="right">

</frameset>

<body>

</body>
</html>
