<!DOCTYPE html>
<html>
<head>
    <title>后台管理系统</title>

    <link rel='stylesheet' href='/stylesheets/common.css'/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
    <style>
        body{
            background-color: #E6FFFD;
            text-align: center;
        }
        img{
            width:25%;
            height: 25%;
        }
        div{
            padding: 100px;
        }
        h1{
            color:#AEE2FF;
        }
    </style>

</head>

<body>
<div>
    <h1>Welcome</h1>
    <img src="/images/main-right.png">
</div>
</body>
</html>
